@using System;
@model Cosmetology.Models.Articles
@{
	ViewData["Title"]="内容";
}
@{
	string url="";
	if(@Model.ArticleImgUrl!=null){
		url=@Model.ArticleImgUrl;
	}
	else{
		url="";
	}
}
	<div class="single">
			<div class="col-md-10 col-md-offset-1 single-left">
				<h3 style="text-align:center;">@Model.ArticleName</h3>

				<img src="@url" alt=""  class="img-responsive" />
				<p>
					<span>
						@Model.ArticleContext
					</span>
					<span style="text-align:right;">
						I will be happy to hear that this article is userful for you.
					</span>
				</p>
				<ul>
					<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> @Model.ArticleUpdateDate</li>
					<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Model.UserName</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
	</div>